# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
*.local

node_modules

# Output of 'npm pack'
dist
dist-ssr
backup
backups
esm

# Tests
deploy.config.json
deploy.config.js
deploy.config.cjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
